/* src/Home.css */
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 9rem;
}

.homeText {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.homeText h1 {
  font-size: 4.1rem;
  font-family: "Montserrat";
}

.home h1 span {
  color: #1e6fd9;
}

.homeText p {
  position: relative;
  top: -2rem;
  font-size: 1.7rem;
  color: gray;
  opacity: 0.4;
}