/* src/Home.css */
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 9rem;
}

.home-text {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.home-text h1 {
  font-family: "Montserrat";
}

.home h1 span {
  color: #1e6fd9;
}

.home-text p {
  position: relative;
  top: -4rem;
  font-size: 2rem;
  opacity: 0.4;
}

.home-image {
  width: 200px; /* Set the width to 200 pixels */
  height: auto; /* The height will adjust proportionally */
}
